.button-toggle {
    background-image: linear-gradient(to right top, #ffafbd, #ffc3a0);
    color: white !important;
}

.auth-btn {
    -webkit-transition: all 0.5s linear !important;
    transition: all 0.5s linear !important;
}