.scrolled {
	background-color: lightblue;
	box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
		0 1px 10px 0 rgb(0 0 0 / 12%);
	background-color: rgba(0, 0, 0, 0.8) !important;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.navbar {
	height: 56px;
}
.navbar-absolute {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
}

.nav-hover:hover {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
		rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	font-weight: bold;
}
