.fixed-navbar {
    z-index: 100;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    transition: .2s cubic-bezier(.4, 0, .2, 1);
}

.navbar {
    width: 100%;
    padding: 10px !important;
}